body {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;   
    gap: 32px;
    padding: 32px;
}

#score-board {
    display: flex;
    justify-content: space-around;
    gap: 64px;
}

#score-board>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
}

#choice-group {
    display: flex;
    justify-content: space-around;
    gap: 8px;
}

#button-group {
    display: flex;
    justify-content: space-around;
    gap: 8px;
}

#button-group button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 100px;
}